.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: #f3f7f4; /* Couleur de fond pour évoquer la verdure */

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #339933; /* Couleur principale pour l'agriculture */
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #555; /* Couleur pour le texte des titres */
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #e6f5e9; /* Couleur pour l'effet hover */
        }

        .icon {
          font-size: 18px;
          color: #339933; /* Couleur pour les icônes */
        }

        span {
          font-size: 13px;
          font-weight: 600;
          color: #555; /* Couleur pour le texte normal */
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #339933; /* Couleur pour les bordures */
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: #ffffff; /* Couleur pour la première option */
      }
      &:nth-child(2) {
        background-color: #333333; /* Couleur pour la deuxième option */
      }
      &:nth-child(3) {
        background-color: #000080; /* Couleur pour la troisième option */
      }
    }
  }
}
